.filterinput {
	width: 100%;
}

.filterinput__container {
	position: relative;
}

.filterinput__icon {
	position: absolute;
	left: 6px;
	top: 6px;
	color: #888;
}

.filterinput__label {
	width: 100%;
	display: block;
	padding-bottom: 0.2rem;
	font-size: 0.8em;
}

.filterinput__input {
	border: 1px solid #ddd;
	border-radius: 0.25rem;
	font-size: 0.9 rem;
	padding: 0.25rem 0.4rem;
	width: 100%;
}

.filterinput__input--withicon {
	padding-left: 1.6rem;
}
