.izenak {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.izenak__container {
	position: relative;
	height: 100%;
	overflow: auto;
}

.izenak__container--fixed {
	overflow: hidden;
}

.izenak__cloud {
	display: flex;
	padding: 360px 2rem 1rem;
	justify-content: center;
	flex-wrap: wrap;
}
