.namecards {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(1px);
	opacity: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.namecards--in {
	animation: appear 0.3s ease both;
}

.namecards--out {
	animation: disappear 0.3s ease both;
}

.namecards__card {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6rem 2rem;

	&.namecards__card--new {
		animation: scaleUp 0.5s ease both;
	}
}

.namecards__card--forward.namecards__card--in {
	transform-origin: 0% 50%;
	animation: rotateCarouselLeftIn 0.5s both ease;
}

.namecards__card--forward.namecards__card--out {
	transform-origin: 100% 50%;
	animation: rotateCarouselLeftOut 0.5s both ease;
}

.namecards__card--backward.namecards__card--in {
	transform-origin: 100% 50%;
	animation: rotateCarouselRightIn 0.5s both ease;
}

.namecards__card--backward.namecards__card--out {
	transform-origin: 0% 50%;
	animation: rotateCarouselRightOut 0.5s both ease;
}

.namecards--out .namecards__card--forward.namecards__card--out,
.namecards--out .namecards__card--backward.namecards__card--out {
	transform-origin: 0% 0%;
	animation: none;
}

@keyframes appear {
	from {
		opacity: 0;
	}
}

@keyframes disappear {
	from {
	}
	to {
		opacity: 0;
	}
}

@keyframes rotateCarouselLeftOut {
	from {
	}
	to {
		opacity: 0.3;
		transform: translateX(-150%) scale(0.4) rotateY(-65deg);
	}
}

@keyframes rotateCarouselLeftIn {
	from {
		opacity: 0.3;
		transform: translateX(200%) scale(0.4) rotateY(65deg);
	}
}

@keyframes rotateCarouselRightOut {
	from {
	}
	to {
		opacity: 0.3;
		transform: translateX(200%) scale(0.4) rotateY(65deg);
	}
}

@keyframes rotateCarouselRightIn {
	from {
		opacity: 0.3;
		transform: translateX(-200%) scale(0.4) rotateY(-65deg);
	}
}
