.font--slabo {
    font-family: 'Slabo 27px', serif;
}

.font-montserrat {
    font-family: Montserrat, serif;
    font-style: normal;
}

.font--smaller {
    font-size: smaller;
}

.font--small {
    font-size: small;
}
