.navigation-enter-active,
.navigation-leave-active {
  transition-duration: .5s;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
