.footer {
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
}

.footer__dev {
	font-size: 0.8rem;
}

.footer__link {
	text-decoration: none;
	color: var(--mainColor);
	font-weight: bold;
}
