.page {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background: var(--whiteColor);
}

.page--in {
	animation: scaleUp 500ms forwards;
}

@keyframes scaleUp {
	0% {
		opacity: 0;
		transform: scale(0.8);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.page--out {
	animation: scaleDown 500ms forwards;
}

@keyframes scaleDown {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0.8);
	}
}

.page--slide {
	z-index: 1;

	&.page--out {
		animation: slideOut 500ms forwards;
	}

	&.page--in {
		animation: slideIn 500ms forwards;
	}
}

@keyframes slideOut {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100vw);
	}
}

@keyframes slideIn {
	0% {
		transform: translateX(-100vw);
	}
	100% {
		transform: translateX(0);
	}
}
