:root {
	--mainColor: #555;
	--whiteColor: #ffffff;
	--backgroundColor: #f8f8f8;
	--girlColorSoft: #7a4579;
	--boyColorSoft: #d56073;
	--allColorSoft: #ec9e69;
	--girlColor: #7a4579;
	--boyColor: #d56073;
	--allColor: #ec9e69;
	--main-font: Raleway, sans-serif;
	--secondary-font: "Slabo 27px", serif;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

a {
	cursor: pointer;
	color: var(--mainColor);
}

strong {
	font-weight: bold;
}

p {
	line-height: 1.4em;
}

html,
body {
	height: 100%;
}

body {
	color: var(--mainColor);
	display: block;
	margin: 0;
	padding: 0;
	font-family: var(--main-font);
	font-size: 16px;
	background: var(--whiteColor);
}

input[type="text"] {
	box-sizing: border-box;
}

button {
	background: transparent;
	border: 0;
}
