@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rit73z');
  src:  url('fonts/icomoon.eot?rit73z#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rit73z') format('truetype'),
    url('fonts/icomoon.woff?rit73z') format('woff'),
    url('fonts/icomoon.svg?rit73z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e986";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-backward:before {
  content: "\ea1a";
}
.icon-forward2:before {
  content: "\ea1b";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-filter:before {
  content: "\ea5b";
}
